<mat-nav-list class="w-100">
  <mat-card class="example-card">
    <div class="profile-card">
      <div class="d-flex justify-content-center">
        <div mat-card-avatar class="example-header-image"></div>
      </div>
      <div class="header">
        <h5 class="m-0">Soufiane FADIL</h5>
        <small class="m-0">example@email.com</small>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="accordion-menu my-3">
      <ul>
        <li>
          <input type="checkbox" checked>
          <i class="arrow"></i>
          <h2><i class="fas fa-code"></i>LIGA_A</h2>
          <p>
            <a mat-list-item (click)="toHome()">HOME</a>
            <a mat-list-item (click)="toTeams()">Times</a>
          </p>
        </li>

        <li>
          <input type="checkbox" checked>
          <i class="arrow"></i>
          <h2><i class="fas fa-code"></i>LIGA_BLIGA_BLIGA_BLIGA_BLIGA_BLIGA_BLIGA_BLIGA_B</h2>
          <p>
            <a mat-list-item (click)="toHome()">HOME</a>
            <a mat-list-item (click)="toTeams()">Times</a>
          </p>
        </li>
      </ul>
    </div>
    <mat-card-content>
    </mat-card-content>
  </mat-card>

</mat-nav-list>