<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" (click)="toggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>reccos</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" [matTooltip]="'Confirgurações'">
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-icon-button class="example-icon favorite-icon" [matTooltip]="'Editar Usuário'">
    <mat-icon>person_outline</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" [matTooltip]="'Sair'">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
