<div class="container-fluid area">
  <div class="row area justify-content-center align-items-center">
    <div style="max-width: 1080px;">
      <div class="box d-flex flex-xs-column">
        <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-6 p-3 image rigth-border">
          <picture>
            <img logo src="assets/images/goal.svg" class="img-login">
          </picture>
        </div>
        <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-6 d-flex align-items-center justify-content-center p-3">
          <div class="w-100">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
